<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Person Manager</title>
</head>
<body>

<div align="center">
    <h1>Person List</h1>
    <a href="/new">Create New Person</a>
    <a href="/address/new">Create New Address</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
               
                <th>Id</th>
                <th>Street</th>
                <th>Number</th>
              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="address : ${listAddress}">
               
                <td th:text="${address.id}">Id</td>
                <td th:text="${address.street}">Street</td>
                <td th:text="${address.number}">Number</td>
                
               
                <td>
                    <a th:href="@{'/address/edit/' + ${address.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/address/delete/' + ${address.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>