<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Address</title>
</head>
<body>
    <div align="center">
    
        <h1>Edit Address</h1>
        <br />
        <form action="#" th:action="@{/address/save}" th:object="${address}"
            method="post">
             <table border="0" cellpadding="10">
               <tr>             
                    <td>id:</td>
                    <td>
                        <input type="text" th:field="*{id}" />
                    </td>
                </tr>
                <tr>             
                    <td>Street:</td>
                    <td>
                        <input type="text" th:field="*{street}" />
                    </td>
                </tr>
                <tr>
                    <td>Number:</td>
                    <td><input type="text" th:field="*{number}" /></td>
                </tr>
               
               
              <!--  <tr>
               
                	<td>Address: </td>
                	<td><select th:field="*{address}" >
                		<option th:each="address : ${listAddress}" 
                		 th:value="${address.id}"
                		 th:text="${address.street}+' '+${address.number}"
                		 th:fiels="*{address}"
                	/>
                	</select>
                </td>
                </tr>    -->                        
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>