<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Create new user</title>
</head>
<body>
  <div align="center">
     <a href="/">Home person</a>
    <a href="/address/">Home address</a>
<h1 >Form</h1>
<form action="#" th:action="@{/user/save}" th:object="${user}" method="POST" >
   <table border="0" cellpadding="10">
   <tr>
                    <td>User Name:</td>
                    <td><input type="text" th:field="*{username}" /></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                </tr>
                <tr>
                    <td>Middle Name:</td>
                    <td><input type="text" th:field="*{middleName}" /></td>
                </tr>
                <tr>
                    <td>LastName:</td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{password}" /></td>
                </tr>
        
                <tr>
               <td> Address: </td>
       
                        <td><select th:field="*{address}" >
                		<option th:each="address : ${listAddress}" 
                		 th:value="${address.id}"
                		 th:text="${address.street}+' '+${address.number}"
                		 th:fiels="*{address}"/>
              
                </td>
               
                   <tr>
               <td> Role: </td>
       
                        <td><select th:field="*{role}" >
                		<option th:each="role : ${listRole}" 
                		 th:value="${role.id}"
                		 th:text="${role.name}"
                		/>
              
                </td>
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
  <!--    <div>
        <label th:text="#{label.user.firstName}">first</label>
        <input th:field="*{firstName}"/>
        <p th:each="error: ${#fields.errors('firstName')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.middleName}">last</label>
        <input th:field="*{middleName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
          th:text="${error}">Validation error</p>
    </div>
     <div>
        <label th:text="#{label.user.lastName}">last</label>
        <input th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.email}">email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.password}">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.confirmPass}">confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit" th:text="#{label.form.submit}">submit</button>
    -->
</form>
 
</body>
</html>